.post__card{
    width: 90%;
    padding: 15px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .post__card__img__wrapper{
        width: 40%;
        img{
            width: 100%;
            max-height: 300px;
            border-radius: 3px;
        }
    }
    .post__info{
        width: 60%;
        height:auto;
        display: flex;
        flex-wrap: wrap;
        text-align: start;
        align-items: flex-start;
        .post__title{
            width: 100%;
            max-height: 40px;
            // background: #000;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            p{
                font-size: 22px;
            }
        }
        .post_dec{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 20px;
            p{
                color: #6e6d6d;
            }
            .post__like__wiewrs__time{
                display: flex; 
                flex-wrap: wrap;
                justify-content: end;
                width: 100%;
                .post__wiewrs{
                    min-width: 45px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-right: 10px;
                    p{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        align-items: center;
                        cursor: pointer;
                    }
                }
                .post__time{
                    margin-right: 10px;
                    p{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        width: 90px;
                        align-items: center;
                    }
                }
                .post__like{
                    p{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        min-width: 40px;
                    }
                }
            }
            .post__comment{
                width: 100%;
                // border: 1px solid #000;
                padding: 10px;
                border-radius: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                position: relative;
                textarea{
                    width: 82%;
                    max-height: 120px;
                    min-height: 40px;
                    padding-left: 20px;
                    border-radius: 10px 10px 10px 10px;
                    resize: vertical;
                    padding-top: 5px;
                    border: 1px solid rgb(81, 81, 81);
                    outline: none;
                    &:focus{
                        border: none;
                        outline: 1px solid dodgerblue;
                    }
                }
                button{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 15%;
                    background-color: dodgerblue;
                    color: #fff;
                    border: none;
                    height: 40px;
                    border-radius: 10px;
                }
            }
        }
        
    }
}
@media only screen and (max-width:890px){
    .post__card{
        display: flex;
        height: auto;
        max-height: auto;
        flex-wrap: wrap;
        justify-content: center;
        .post__card__img__wrapper{
            width: 100%;
        }
        .post__info{
            width: 100%;
            .post_dec{
                display: flex;
                align-items: start;
            }
        }
    }
}